---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blogi";
---
<BaseLayout pageTitle={pageTitle} >
  <h2>Siin avaldan ma oma tähelepanekuid parimate avastajate kohta</h2>
  <dl>
    {allPosts.map((post) => <dt><a href={post.url}>{post.frontmatter.title}</a></dt><dd>{post.frontmatter.description}</dd> )}
  </dl>
</BaseLayout>
