---
---
<style>
  a {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #4c1d95;
    color: #4c1d95;
    background-color: yellow;
    text-decoration: none;
    font-weight: bold;
  }
</style>

<div class="nav-links">
  <a href="/">Kodu</a>
  <a href="/about/">Asjast</a>
  <a href="/blog/">Blogi</a>
</div>
